<?xml version="1.0" encoding="ISO-8859-1"?>
<root>
	
		<tab name="Card Inventory" class="fg-button" id="tab1"	onclick="cardinventory.html">
			<menu name="CardOrder" position="1" class="mi" id="tab1menu1" onclick="cmsAction.action?screenName=cardOrder"></menu>
			<menu name="Authorize" position="1" class="mi" id="tab1menu2" onclick="cmsAction.action?screenName=authorizeCardList"></menu>
			<menu name="GenerateCard" position="2" class="mi" id="tab1menu3" onclick="cmsAction.action?screenName=generateCardList"></menu>
			<menu name="Emboss" position="2" class="mi" id="tab1menu4" onclick="cmsAction.action?screenName=embossList"></menu>
			<menu name="Card Receipt" position="2" class="mi" id="tab1menu5" onclick="../html/cardReceipt.html"></menu>
			<menu name="Card Order Status" position="2" class="mi" id="tab1menu6" onclick="../html/cardStatus.html"></menu>
		</tab>
		
		<tab name="Entitlement" class="fg-button" id="tab2" onclick="ProgramSetup.html">
			<menu name="program setup485hfd" position="1" class="mi" id="tab2menu1">
				<submenu onclick="ProgramSetup.html" id="submenu11" name="Program"></submenu>
				<submenu onclick="ProgramSetup.html" id="submenu12" name="Bin group"></submenu>
				<submenu onclick="ProgramSetup.html" id="submenu13" name="Bin details">
				<submenu onclick="ProgramSetup.html" id="submenu85" name="Program"></submenu>
				<submenu onclick="ProgramSetup.html" id="submenu86" name="Bin group"></submenu>
				<submenu onclick="ProgramSetup.html" id="submenu87" name="Bin details"></submenu>
				</submenu>
			</menu>
		</tab>
		<tab name="Security Management" class="fg-button" id="tab3" onclick="ProgramSetup.html">
			<menu name="program setup" position="1" class="mi" id="tab3menu1">
				<submenu onclick="ProgramSetup.html" id="submenu14" name="Program"></submenu>
				<submenu onclick="ProgramSetup.html" id="submenu15" name="Bin group"></submenu>
				<submenu onclick="ProgramSetup.html" id="submenu16" name="Bin details"></submenu>
			</menu>
		</tab>
		<tab name="Security Management" class="fg-button" id="tab4" onclick="ProgramSetup.html">
			<menu name="program setup" position="1" class="mi" id="tab4menu1">
				<submenu onclick="ProgramSetup.html" id="submenu17" name="Program"></submenu>
				<submenu onclick="ProgramSetup.html" id="submenu18" name="Bin group"></submenu>
				<submenu onclick="ProgramSetup.html" id="submenu19" name="Bin details"></submenu>
			</menu>
		</tab>
		<tab name="Security Management" class="fg-button" id="tab5" onclick="ProgramSetup.html">
			<menu name="program setup" position="1" class="mi" id="tab5menu1">
				<submenu onclick="ProgramSetup.html" id="submenu20" name="Program"></submenu>
				<submenu onclick="ProgramSetup.html" id="submenu21" name="Bin group"></submenu>
				<submenu onclick="ProgramSetup.html" id="submenu22" name="Bin details"></submenu>
			</menu>
		</tab>

</root>
